aside {
  background: var(--color-gradiente-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside.large {
  width: 350px;
  padding: 80px;
}
aside.small {
  width: 80px;
  padding: 10px;
  position: fixed;
  height: inherit;
}

aside header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

aside p {
  font-size: 24px;
  line-height: 20px;
  margin-top: 40px;
  font-family: Nunito;
  font-weight: 700;
  color: var(--color-text-in-primary);
  text-align: center;
}

aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;
  font-family: Nunito;
  color: var(--color-text-in-primary);
}

aside footer .button-back {
  border: 0;

  right: 40px;
  bottom: 40px;

  width: 64px;
  height: 64px;
  background: var(--color-gradiente-primary);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;

  cursor: pointer;

  transition: background-color 0.2s;
}

@media (max-width: 700px) {
  aside.large {
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  aside.small {
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  aside {
    background: var(--color-box-base);
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  aside img {
    display: none;
  }
  aside p {
    color: var(--color-primary);
    line-height: 20px;
    margin-top: 5px;
  }
}