:root {
  --color-background: #F0F0F7;
  --color-primary: #97BF04;
  --color-primary-light: #dbfb64;
  --color-primary-lighter: #f1fdc3;
  --color-primary-dark: #1d2500;
  --color-primary-darker: #4b5f01;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #fbfeed;
  --color-text-title: #121700;

  --color-gradiente-primary: linear-gradient(112.14deg, #A9D943 13.6%, #97BF04 76.77%), #97BF04;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;

  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, 
input, 
button, 
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
}


@media (max-width: 700px) {
  :root {
    font-size: 62,5%;
  }
  .container {
    width: 90vw;
    margin: 80px auto;
  }
}